html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  max-width: 500px;
  background-color: purple;
  margin: 0;
  padding: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 20px;
  width: 80%;
}

button {
  padding: 10px;
  font-size: auto;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button:disabled {
  background-color: gray;
}
